<!DOCTYPE html>
 <html>
  <head>  
   <meta charset="utf-8">
        <title>Inspiration</title>
        
        <link rel="stylesheet" type="text/css" href="style/style.css">
         </head>
          <body id = "color">
    <nav>
    	<ul>
    		<li><a href="/">Home</a></li>
    		<li><a href="/about">About</a></li>
    		<li><a href="/inspiration">Inspiration</a></li>
    	</ul>
    </nav>
    <h1>Ready to build an application</h1>
    {{{body}}}
</body> 
</html>